/* styling body */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}


/* Home page */

.home {
    background-image: url(/Images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.header {
    text-align: center;
    position: relative;
    top: 15rem;
    color: white;
}

.header h1 {
    font-weight: 600;
}

.header h2 {
    font-weight: 600;
}

.mouse {
    position: absolute;
    top: 26rem;
}


/* about us page */

.about-us {
    top: 3rem;
    text-align: center;
    position: relative;
    line-height: 200%;
}

.about-us h1 {
    font-weight: bold;
}


/* service page  */

#services {
    background-image: url(/Images/laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;
    top: 6rem;
}

.services {
    text-align: center;
    position: relative;
    top: 9rem;
    color: #fff;
}

.services h2 {
    font-weight: bold;
}

.service2 {
    font-style: normal;
    position: relative;
    line-height: 200%;
}


/* what we do  */

#what {
    margin-top: 8rem;
}

.section4 {
    display: flex;
    justify-content: space-between;
}

#what h5 {
    text-align: center;
    /* margin-left: 40%; */
}

#what h1 {
    text-align: center;
}

#what img {
    margin-left: 50%;
}

#what p {
    display: none;
}


/* portfolio */

.portfolio h1 {
    text-align: center;
    font-weight: bold;
}

.portfolio {
    position: relative;
}

.darkh {
    position: absolute;
    top: 5rem;
    color: #fff;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

.ontarioh {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 20px;
    margin-left: 3rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

.orangeh {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 20px;
    margin-left: 1rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

.carrey {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 20px;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

#row {
    margin-top: 3rem;
}

.day {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 20px;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

.calc {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 20px;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}