/* styling body */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}


/* Home page */

.home {
    background-image: url(/Images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.header {
    text-align: center;
    position: relative;
    top: 15rem;
    color: white;
}

.header h1 {
    font-weight: 600;
}

.header h2 {
    font-weight: 600;
}

.mouse {
    position: absolute;
    top: 26rem;
}


/* about us page */

.about-us {
    top: 3rem;
    text-align: center;
    position: relative;
    line-height: 200%;
}

.about-us h1 {
    font-weight: bold;
}


/* service page  */

#services {
    background-image: url(/Images/laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;
    top: 6rem;
}

.services {
    text-align: center;
    position: relative;
    top: 9rem;
    color: #fff;
}

.services h2 {
    font-weight: bold;
}

.service2 {
    font-style: normal;
    position: relative;
    line-height: 200%;
}